<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @item.checked %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @item.published_at %>
</p>

<p>
  <strong>Feed:</strong>
  <%= @item.feed %>
</p>

<%= link_to 'Back', feed_items_path(@item.feed) %>
